body{
    background-color: #2c2c2c;
}
.logoCSS3{
    background: none;
}

.menuCSS3 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menuCSS3 p {
    color: white; /* Cambia el color del texto a blanco */
    font-size:larger;
}
.menuCSS3 h1 {
    color: white; /* Cambia el color del texto a blanco */
    font-size: 40px;
}


.menuCSS3 a {
    display: block;
    padding: 1em 2em; /* Ajuste del padding */
    background-color: #117af1;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s; /* Transición suave para el hover */
    
}

.menuCSS3 a:hover {
    background-color: #3300eb;
}
#CSS a {
    background-color: transparent; /* Hace que los enlaces en la sección CSS no tengan fondo */
}
#JavaScript  a {
    background-color: transparent; /* Hace que los enlaces en la sección CSS no tengan fondo */
}

.menuCSS3 ul li {
    position: relative; /* Necesario para el submenú */
    height: 80px;
    width: 100%;
}
.menuCSS3 ul li ul {
    display: none;
    position: absolute; /* Posiciona el submenú */
    top: 100%; /* Muestra el submenú debajo del elemento padre */
    left: 0;
    padding: 0; /* Elimina padding del submenú */
    margin: 0;
    list-style: none;
    background-color: #ff02c8; /* Es el color de fondo del submenú */
   
}

.menuCSS3 ul li:hover ul {
    display: block; /* Muestra el submenú al pasar el mouse por encima del elemento */
}

.menuCSS3 ul li ul li a {
    padding: 1em;   
}

table {
    background-color: #fcf8f8;
    width: 80%; /* Ajusta el tamaño al 80% del contenedor */
    max-width: 1000px; /* Limita el ancho máximo */
    margin: auto; /* Centra la tabla */
}
.contenedorTabla{

        width: 80%; /* Hace la tabla más pequeña */
        max-width: 1000px; /* No permite que crezca demasiado */
        margin: auto; /* Centra la tabla */
        overflow-x: auto; /* Permite desplazamiento si es necesario */
        padding: 0px; /* Agrega espacio dentro */
 
}
.contenedorTabla img {
    width: 200px; /* Ajusta todas las imágenes a un tamaño uniforme */
    height: auto; /* Mantiene la proporción */
    display: block;
    margin: auto;
}

@media (max-width: 952px) {
    table {
        font-size: 14px; /* Reduce el tamaño de la fuente */
    }
}

@media (max-width: 858px) {
    table {
        font-size: 12px; /* Reduce aún más la fuente */
    }

    th, td {
        padding: 5px; /* Reduce el padding */
    }
}